/*variables*/
main {
  padding-bottom: 2vh; }
  main h2 {
    padding: 3vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    font-family: Georgia, "Times New Roman", Times, serif; }
  main p {
    padding-left: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; }

footer {
  background-color: blueviolet;
  height: 15vh;
  position: absolute;
  width: 100%; }
  footer img {
    width: 20px !important; }
    footer img:hover {
      transform: rotateY(360deg);
      transition-duration: 4s; }
  footer .text-muted {
    color: white !important; }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  footer img {
    width: 50px; } }

@media only screen and (min-width: 600px) and (max-width: 768px) {
  footer img {
    width: 60px !important; } }

@media only screen and (max-width: 600px) {
  footer img {
    width: 50px; }
  footer .text-muted {
    font-size: small; }
  .justify-content-end {
    padding-left: 30vw; } }

/*header*/
header {
  z-index: 1000;
  position: sticky;
  top: 0px; }

.navbar {
  background-color: #6251ff; }

.nav-item {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif; }

.navbar-toggler-icon {
  background-image: url("../img/mobile_nav.png") !important; }

@media only screen and (min-width: 1600px) {
  #collapsibleNavbar {
    padding-left: 70vw; } }

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  #collapsibleNavbar {
    padding-left: 55vw; } }

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  #collapsibleNavbar {
    padding-left: 50vw; } }

.discos img:hover {
  transform: scale(1.1);
  transition-duration: 1.5s; }

section {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat 2, 1fr;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  grid-column-gap: 0.63rem;
  grid-row-gap: 0.5rem; }

#tour {
  margin-top: 20px; }

.obj_flex {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  margin-bottom: 5%; }
  .obj_flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 600px) {
  section {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15vw; } }

.contacto {
  background-image: url(../img/fondo.jpg);
  background-size: cover; }

.card.contacto {
  width: 50rem; }
  .card.contacto .form-control {
    margin-bottom: 2vh; }

.card.producto {
  width: 18rem; }

.row {
  gap: 20px;
  justify-content: space-evenly; }

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-style: oblique; }
