.navbar{
    background-color: rgb(98 81 255);
}

.nav-item{
    text-align: center;
}

footer img{
    width: 20px !important;
}

main{
    padding-bottom: 2vh;
}

/*Merch*/ 
.card.producto {
	width: 18rem
}

.card.contacto {
	width: 50rem;
}

.card.contacto .form-control {
    margin-bottom: 2vh;
}

/*Galeria*/
.obj_flex {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 5%;
}

.obj_flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*Discografia*/
main h2{
    padding: 3vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
}

main p{
    padding-left: 3vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.discos img:hover{
    transform: scale(1.1);
    transition-duration: 1.5s;
}

/*Contacto*/
.contacto{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}

footer{
    background-color: blueviolet;
    height: 15vh;
    position: absolute;
    width: 100%;
}

footer .text-muted{
    color: white !important;
}

.navbar-toggler-icon {
    background-image: url("../img/mobile_nav.png") !important;
}