.obj_flex {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 5%;
}

.obj_flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}