/*header*/
header {
	z-index: 1000;
	position: sticky;
	top:0px;
}

.navbar {
	background-color:  rgb(98, 81, 255);
}

.nav-item {
	text-align: center;
    font-family: $tipografia;
}

.navbar-toggler-icon {
	background-image: url("../img/mobile_nav.png") !important;
}

@media only screen and (min-width: $fullhd) {
	#collapsibleNavbar {
		padding-left: 70vw;
	}
}

@media only screen and (min-width: $desktop) and (max-width: $fullhd) {
	#collapsibleNavbar {
		padding-left: 55vw;
	}
}

@media only screen and (min-width: $tablets) and (max-width: $desktop) {
	#collapsibleNavbar {
		padding-left: 50vw;
	}
}
