/*variables*/
$smartphone:600px;
$tablets:768px;
$desktop:1200px;
$fullhd:1600px;
$margen-base-altura: 2vh;
$margen-base-ancho: 2vw;
$padding-base: 3vh;
$tipografia: Georgia, 'Times New Roman', Times, serif;